body{
    background: linear-gradient(102deg,rgb(234, 248, 248) 60%, orange 20% 50%);
}

h1{
    font-size: 30px;
    font-style: italic;
}
span {
    color: orange;
}
ul > li{
    list-style-type:none;
    display: inline;
    margin: 70px;
    padding:-10px;
    float:right;
    font-weight: bold;
    margin-top: -40px;
    margin-right: 150px;
}
p {
    display: block;
}
.p1 {
    font-size: 30px;
    font-weight: bold;
    margin-left: 150px;
    margin-top: 150px;
}
.p2 {
    font-size: 15px;
    margin-left: 150px;
    margin-top: 0px;
    color:dimgrey ;
    font-weight: bold;
}
.img2 {
    float: right;
    margin-right: 150px;
    margin-top: -250px;
    height: 500px;
    width: 400px;
}
div.gallery {
    border: 1px solid rgb(172, 80, 80);
    float:left;
    width: 180px;
    height: 300px;
    display: inline;
    margin: 30px;
    margin-top: 300px;
    margin-left: 70px;
  }
  div.gallery img {
    width: 50%;
    height: 50%;
    padding: 20px;
  }
  
  div.description {
    padding: 10px;
    text-align: center;
  }
  h2{
      text-align: center;
  }
  div.seek {
    border: 1px solid rgb(204, 196, 196);
    float:left;
    width: 200px;
    height: 300px;
    display: inline;
    margin: 30px;
    margin-top: 500px;
    margin-left: -10px;
  }
  div.seek img {
    width: 50%;
    height: 50%;
    padding: 20px;
  }
  
  div.details {
    padding: 10px;
    text-align: center;
  }